# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# LlamaIndex & ChromaDB
# chroma_db/  <-- Un-ignored to share pre-built index
# data/       <-- Un-ignored to share source truth

# Streamlit
.streamlit/

# OS
.DS_Store
