llama-index-core==0.10.68.post1
llama-index-llms-ollama==0.2.2
llama-index-llms-groq
llama-index-vector-stores-chroma==0.1.10
llama-index-embeddings-huggingface==0.2.3
llama-index-embeddings-openai==0.1.11
pydantic<2.0.0
chromadb
streamlit>=1.24.0
beautifulsoup4
youtube-transcript-api
python-dotenv
pandas
requests
watchdog
importlib-metadata>=4.4; python_version < "3.10"
opentelemetry-api==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
torch
PyQt6
pynput
